.education{
    left: 0;
    width: 100%;
}
.edu-title{
    font-size: 70px;
    font-weight: bold;
    user-select: none;
    margin-bottom: 30px;
}
.timeline-items{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    padding-left: 35px;
    gap: 20px;
    position: relative;
}
.timeline-items::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color:#0ACBE0;
    left: 175px;
}
.timeline-item{
    margin-bottom: 40px;
    position: relative;
    padding-left: 175px;
}
.timeline-dot{
    height: 21px;
    width: 21px;
    background-color: #0ACBE0;
    box-shadow: 0 0 25px #0ACBE0, 0 0 50px #0ACBE0;
    position: absolute;
    left: 132px;
    border-radius: 50%;
    top: 10px;
}
.timeline-date{
    font-size: 20px;
    font-weight: bold;
    margin: 4px 0 15px;
}
.timeline-content{
    width: 800px;
    border: 3px solid #0ACBE0;
    padding: 30px 50px;
    border-radius: 20px;
    box-shadow: 0 0 25px #0ACBE0;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.timeline-content:hover{
    transform: scale(1.02);
    box-shadow: 0 0 50px #0ACBE0;
}
.content-title{
    font-size: 30px;
    font-weight: bold;
}
.content-school{
    display: flex;
    align-items: center;
    gap: 20px;
}
.content-logo{
    width: 60px;
    height: 60px;
}
.content-title1{
    font-weight: bold;
}
.timeline-content p{
    font-size: 20px;


}
.content-img {
    width: 100%;
    background-position: center;
    border-radius: 20px;

}

.content-award{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.extra-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}


.timeline-item .extra-content {
    max-height: 900px; 
}

.view-more-btn {
    display: block;
    margin-top: 10px;
    padding: 6px 12px;
    background: cyan;
    border: none;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    width: 100%;
}

.view-more-btn:hover {
    background: lightblue;
}

@media screen and (max-width: 1024px) {
    .education {
        margin-top: 25% !important;
    }

    .edu-title {
        font-size: 50px !important;
        text-align: center !important;
    }

    .timeline-items::before {
        width: 3px !important;
        left: 40px !important;
    }

    .timeline-item {
        padding-left: 40px !important;
        width: 100% !important;
    }

    .timeline-dot {
        height: 17px;
        width: 17px;
        left: -2px;
    }

    .timeline-date {
        font-size: 20px !important;
    }

    .timeline-content {
        width: 90% !important;
        padding: 20px !important;
        display: flex !important;
        flex-direction: column !important;
        gap: 10px !important;
    }

    .content-title {
        font-size: 25px !important;
    }

    .content-school {
        gap: 7px !important;
    }

    .content-logo {
        width: -5% !important;
        height: -5% !important;
    }

    .timeline-content p {
        font-size: 20px !important;
    }

    .content-img {
        /* width: 100% !important; */
        max-width: 90% !important;
    }

    .view-more-btn {
        font-size: 20px !important;
    }
}

/* Quy tắc cho màn hình > 768px và <= 1024px */
@media screen and (max-width: 768px) {
    .education {
        margin-top: 45% !important;
    }

    .edu-title {
        font-size: 30px !important;
        text-align: center !important;
    }

    .timeline-items::before {
        width: 3px !important;
        left: 40px !important;
    }

    .timeline-item {
        padding-left: 40px !important;
    }

    .timeline-dot {
        height: 17px !important;
        width: 17px !important;
        left: -2px !important;
    }

    .timeline-date {
        font-size: 20px !important;
    }

    .timeline-content {
        width: 90% !important;
        padding: 20px 20px !important;
        display: flex !important;
        flex-direction: column !important;
        gap: 10px;
    }

    .content-title {
        font-size: 18px !important;
    }

    .content-school {
        gap: 7px !important;
    }

    .content-logo {
        width: 35px !important;
        height: 35px !important;
    }

    .timeline-content p {
        font-size: 15px !important;
    }

    .content-img {
        width: 100% !important;
        max-width: 100% !important;
        background-position: center !important;
        border-radius: 20px !important;
    }

    .view-more-btn {
        font-size: 15px !important;
    }
}

@media (max-width: 480px) {
    .education {
        margin-top:  10vw !important;
    }

    .edu-title {
        font-size: 30px;
        text-align: center;
    }

    .timeline-items::before {
        width: 3px;
        left: 40px;
    }

    .timeline-item {
        padding-left: 40px;
    }

    .timeline-dot {
        height: 17px;
        width: 17px;
        left: -2px;
    }

    .timeline-date {
        font-size: 20px;
    }

    .timeline-content {
        width: 90%;
        padding: 20px 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .content-title {
        font-size: 18px;
    }

    .content-school {
        gap: 7px;
    }

    .content-logo {
        width: 35px;
        height: 35px;
    }

    .timeline-content p {
        font-size: 15px;
    }

    .content-img {
        width: 100%;
        max-width: 700px;
        background-position: center;
        border-radius: 20px;
    }

    .view-more-btn {
        font-size: 15px;
    }
}
@media (max-width: 432px) {
    .education {
        margin-top: -40vw !important;
    }
} 
@media (max-width: 391px) {
    .education {
        margin-top: -30vw !important;
    }
} 
@media (max-width: 376px) {
    .education {
        margin-top: 20vw !important;
    }
    
} 
