:root{
    --text-size: 25px;
    --text-color: #FFFFFF;
    --text-weight: bold;
    --text-color1: #0ACBE0
}
.header{
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 140px;
    font-size: var(--text-size);
    z-index: 1000;
    user-select: none;

}
.logo{

    display: flex;
    align-items: center;
    color: var(--text-color1) ;
    font-weight: var(--text-weight);
    cursor: pointer;
    text-shadow: 0 0 10px var(--text-color1), 0 0 20px var(--text-color1), 0 0 40px var(--text-color1), 0 0 80px var(--text-color1), 0 0 120px var(--text-color1);
    filter: brightness(1.5);
    transition: 0.3s ease;
}
.logo:hover{
    transform: scale(1.1);
    color: var(--text-color1) ;
    filter: brightness(1.5);
}
.navbar{
    display: flex;
    align-items: center;
    gap: 30px;
}
.navbar a{
    position: relative;
    color: var(--text-color);
    cursor: pointer;
    font-weight: var(--text-weight);
    transition: color 0.3s ease-in-out, text shadow 0.3s ease-in-out;
    padding-bottom: 2px;
    text-shadow: 0 0 50px var(--text-color1);

}
.navbar a:hover,.navbar a.active {
    color: var(--text-color1);
    text-shadow: 0 0 10px var(--text-color1);
}
.navbar a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--text-color1);
    text-shadow: 0 0 50px var(--text-color1);
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.navbar a:hover::after, .navbar .active::after {
    transform: scaleX(1);
}

.hamburger {
    display: none;
    cursor: pointer;
}
@media (max-width: 1024px) {
    .header {
        padding: 10px 3%;
    }
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .navbar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        background: rgba(0, 0, 0, 0.9);
        width: 100%;
        padding: 15px;
        text-align: center;
    }

    .navbar.open {
        display: flex;
    }

    .navbar a {
        padding: 12px 0;
        width: 100%;
        display: block;
        font-size: 18px;
    }
    .navbar a::after{
        display:none;
        
    }
}

@media (max-width: 480px) {
    .logo {
        font-size: 18px;
    }

    .navbar a {
        font-size: 16px;
    }
}