.projects {
    left: 0;
    width: 100%;
    margin-top: 200px;
}

.project-title {
    font-size: 70px;
    font-weight: bold;
    user-select: none;
    margin-bottom: 30px;
}

.pro-timeline-items {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    padding-left: 35px;
    gap: 20px;
    position: relative;
    width: 70%;
}

.pro-timeline-items::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: #0ACBE0;
    left: 175px;
}

.pro-timeline-item {
    margin-bottom: 40px;
    position: relative;
    padding-left: 175px;
}

.pro-timeline-dot {
    height: 21px;
    width: 21px;
    background-color: #0ACBE0;
    box-shadow: 0 0 25px #0ACBE0, 0 0 50px #0ACBE0;
    position: absolute;
    left: 132px;
    border-radius: 50%;
    top: 10px;
}

.pro-timeline-date {
    font-size: 20px;
    font-weight: bold;
    margin: 4px 0 15px;
}

.pro-timeline-content {
    border: 3px solid #0ACBE0;
    padding: 30px 50px;
    border-radius: 20px;
    box-shadow: 0 0 25px #0ACBE0;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pro-timeline-content:hover {
    transform: scale(1.02);
    box-shadow: 0 0 50px #0ACBE0;
}

.pro-content-title {
    font-size: 30px;
    font-weight: bold;
    user-select: none;
}

.project-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 800px;
}

.pro-content-title1 {
    font-size: 25px;
    font-weight: bold;
}

.project-content p {
    font-size: 20px;
}

.pro-extra-content{
    font-size: 20px;
    
}
.pro-extra-content ul{
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 15px;
}
.pro-extra-content {
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
}
.pro-timeline-item .extra-content {
    max-height: 900px; 
}


.pro-view-more-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    height: 3rem;
    background-size: 300% 300%;
    cursor: pointer;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(#212121, #212121),
    linear-gradient(
        137.48deg,
        #ffdb3b 10%,
        #fe53bb 45%,
        #8f51ea 67%,
        #0044ff 87%
    );
    background-origin: border-box;
    background-clip: content-box, border-box;
    text-align: center;
    width: 100%;
    
}
.pro-view-more-btn strong {
    z-index: 2;
    font-family: "Avalors Personal Use";
    font-size: 12px;
    letter-spacing: 5px;
    color: #ffffff;
    text-shadow: 0 0 4px white;
}

.pro-view-more-btn #container-stars {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
}

.pro-view-more-btn #glow {
    position: absolute;
    display: flex;
    width: 12rem;
}

.pro-view-more-btn .circle {
    width: 100%;
    height: 30px;
    filter: blur(2rem);
    animation: pulse_3011 4s infinite;
    z-index: -1;
}

.pro-view-more-btn .circle:nth-of-type(1) {
    background: rgba(254, 83, 186, 0.636);
}

.pro-view-more-btn .circle:nth-of-type(2) {
    background: rgba(142, 81, 234, 0.704);
}

.pro-view-more-btn:hover #container-stars {
    z-index: 1;
    background-color: #212121;
}

.pro-view-more-btn:hover {
    transform: scale(1.1);
    
}

.pro-view-more-btn:active {
    border: double 4px #fe53bb;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;
}

.pro-view-more-btn:active .circle {
    background: #fe53bb;
}

.pro-view-more-btn #stars {
    position: relative;
    background: transparent;
    width: 200rem;
    height: 200rem;
}

.pro-view-more-btn #stars::after {
    content: "";
    position: absolute;
    top: -10rem;
    left: -100rem;
    width: 100%;
    height: 100%;
    animation: animStarRotate 90s linear infinite;
}

.pro-view-more-btn #stars::after {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
}

.pro-view-more-btn #stars::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 170%;
    height: 500%;
    animation: animStar 60s linear infinite;
}

.pro-view-more-btn #stars::before {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
    opacity: 0.5;
}

.pro-view-more-btn:hover {
    background: lightblue;
}
@media (max-width: 1024px) {
    .projects {
        left: 0;
        width: 100%;
        margin-top: 100px;
    }
    .project-title {
        font-size: 30px;
    }
    .pro-timeline-items::before {
        width: 3px;
        left: 40px;
    }
    
    .pro-timeline-item {
        padding-left: 40px;
    }
    
    .pro-timeline-dot {
        height: 17px;
        width: 17px;
        left: -2px;
    }
    
    .pro-timeline-date {
        font-size: 20px;
    }
    
    .pro-timeline-content {
        width: 100%;
        padding: 20px 20px;
        gap: 10px;
    }
    .pro-content-title1{
        font-size: 25px;
    }
    .project-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 800px;
    }
    .pro-content-title {
        font-size: 25px;
    }
    .project-content p {
        font-size: 20px;
    }
    
    .pro-extra-content{
        font-size: 20px;
        
    }
    .pro-view-more-btn {
        font-size: 20px;
    }
}
@media (max-width: 768px) {
    .project-title {
        font-size: 30px;
    }
    .pro-timeline-items::before {
        width: 3px;
        left: 40px;
    }
    
    .pro-timeline-item {
        padding-left: 40px;
    }
    
    .pro-timeline-dot {
        height: 17px;
        width: 17px;
        left: -2px;
    }
    
    .pro-timeline-date {
        font-size: 20px;
    }
    
    .pro-timeline-content {
        padding: 20px 20px;
        gap: 10px;
    }
    .pro-content-title1{
        font-size: 20px;
    }
    .project-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 620px;
    }
    .pro-content-title {
        font-size: 18px;
    }
    .project-content p {
        font-size: 15px;
    }
    
    .pro-extra-content{
        font-size: 15px;
        
    }
    .pro-view-more-btn {
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    .project-title {
        font-size: 30px;
    }
    .pro-timeline-items::before {
        width: 3px;
        left: 40px;
    }
    
    .pro-timeline-item {
        padding-left: 40px;
    }
    
    .pro-timeline-dot {
        height: 17px;
        width: 17px;
        left: -2px;
    }
    
    .pro-timeline-date {
        font-size: 20px;
    }
    
    .pro-timeline-content {
        padding: 20px 20px;
        gap: 10px;
    }
    .pro-content-title1{
        font-size: 20px;
    }
    .project-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 280px;
    }
    .pro-content-title {
        font-size: 18px;
    }
    .project-content p {
        font-size: 15px;
    }
    
    .pro-extra-content{
        font-size: 15px;
        
    }
    .pro-view-more-btn {
        font-size: 15px;
    }
}
@media screen and (max-width:400px) {
    .pro-timeline-content {
        width: 150%;
    }
    
    .project-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }
}


